@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

/* Common Styles */

* {
    font-family: 'Work Sans';
}

.btn-primary {
    width: 180px;
    height: 65px;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    text-align: center;
    padding: 20px;
}

.btn-secondary {
    transform: translate(-30px, -90px);
    width: 340px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 45px;
    font-size: 25px;
    text-align: center;
}

.span-4 {
    font-weight: 700;
    font-size: 55px;
}

.feature-text,
.feature-title-info,
.fact-des,
#subtitle {
    font-size: 16px;
    color: #727272;
}

/* Header Styles */

.header {
    background: rgba(255, 144, 14, 0.1);
}

.title {
    font-weight: 700;
    font-size: 40px;
    width: 300px;
    margin-top: 50px;
    margin-left: 225px;
    color: #131313;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 60px;
    margin-top: 50px;
    margin-right: 230px;
}

nav li {
    list-style: none;
    color: #424242;

}

.banner {
    display: flex;
    flex-direction: column;
}

.banner-info {
    margin-top: 60px;
    margin-right: 530px;
    margin-left: 530px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    margin-bottom: 30px;
    color: #131313;

}

.section-text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.btn-banner {
    margin: 30px 870px 50px 870px;
}

.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    ;
    width: 50%;
    width: 1440px;
    height: 700px;
    border-radius: 8px;
}

/* Quick List Section Styles */

.quick-list {
    display: flex;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 85px 70px 130px 300px;
}

.section-container {
    margin-right: 300px;
}

.quick-title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 0;
}

.span-1 {
    color: #727272;
}

.span-2 {
    font-weight: 700;
}

.span-3 {
    font-weight: 700;
    color: #FF900E;
}

.quick-text {
    text-align: left;
    margin-bottom: 30px;
}

/* Feature you will love styles */

.feature-section {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 110px;
}

.section-details {
    width: 586px;
    margin-left: 240px;
    margin-right: 145px;
}

.section-details h2 {
    font-weight: 700;
    font-size: 45px;
    color: black;
    border-left: 5px solid #FF900E;
    padding: 20px;
}

.features {
    background-color: whitesmoke;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-top: 50px;
}

.feature-title {
    font-size: 20px;
    color: black;
}

.feature-image-part {
    width: 800px;
    margin-right: 240px;
}

/* Some Facts styles */

.rewards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 80px 290px 150px 290px;
    grid-column-gap: 20px;
}

.fact-title {
    margin-left: 240px;
}

.fact-title h2 {
    font-weight: 700;
    font-size: 45px;
    color: black;
}

.fact:hover {
    width: 300px;
    height: 300px;
    border: 5px solid crimson;
    transform: rotate(360deg);
}

.fact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 20px;
    transition: width 2s, height 2s, transform 2s;

}

.fact div h2 {
    font-size: 45px;
    color: #424242;
    margin: 5px;
}

.fact div p {
    font-size: 20px;
    color: #727272;
    margin: 5px;
}

/* Architect Styles */

.top-architects {
    margin-bottom: 30px;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    color: black;
    margin-left: 240px;
    margin-bottom: 80px;
}

.architects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-left: 240px;
    margin-bottom: 40px;
}

.architect {
    display: flex;
    align-items: center;
    gap: 10px;
}

.architect img {
    width: 86px;
    height: 86px;
}

.architect-name {
    margin-left: 20px;
    font-size: 25px;
}

/* Our Sponsors styles */

.sponsor-info {
    width: 540px;
    text-align: center;
    margin: 120px 680px 50px 680px;
}

.sponsor-titles h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}


.sponsor-logos {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 40px;
}

/* Footer Styles */

.footer {
    width: 1440px;
    height: 60px;
    background-color: #FFF4E7;
    margin: 60px 240px 50px 240px;
    padding: 7px 30px 7px 30px;
    text-align: center;
}

/* Media Queries */

@media only screen and (max-width:688px) {

    /* Header */

    .title {
        text-align: left;
        font-size: 30px;
        margin-left: 5px;
        margin-top: 15px;
    }

    nav ul {
        flex-direction: column;
        margin-right: 10px;
        margin-top: 15px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-info {
        margin-left: 5px;
        margin-right: 5px;
    }

    .btn-primary {
        margin: 10px;
    }

    /* Quick List */

    .container {
        grid-template-columns: repeat(1, 1fr);
        margin: 5px;
    }

    .quick-list {
        flex-direction: column;
        align-items: flex-start;
    }
    .section-container{
        width: 100%;
        margin: 5px;
    }

    /* Feature Section */

    .feature-section {
        flex-direction: column;
    }

    .section-details {
        width: 350px;
        margin: 5px;
    }

    .feature-image-part img {
        width: 100%;
    }

    .btn-secondary {
        text-align: center;
        width: 240px;
        height: 140px;
        padding: 35px;
        font-size: 15px;
        transform: none;
        font-size: 20px;
    }

    .span-4 {
        font-size: 35px;
    }

    .feature-image-part {
        width: 350px;
        margin: 5px;
    }

    /* Some Fact Section */

    .fact-title {
        margin: 5px;
    }

    .rewards {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        grid-row-gap: 20px;
    }

    /* Brilliant Architecture Section */

    .section-title {
        font-size: 35px;
        color: black;
        margin: 5px;
        margin-bottom: 25px;
    }
    
    .architects {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        margin-left: 5px;
        margin-bottom: 15px;
    }
    
    .architect {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .architect img {
        width: 86px;
        height: 86px;
    }
    
    .architect-name {
        margin-left: 20px;
        font-size: 25px;
    }

    /* Sponsors Section */

    .sponsor-info {
        width: 100%;
        text-align: left;
        margin: 5px;
    }
    .sponsor-logos {
        flex-direction: column;
        padding: 5px;
    }
    .sponsor-logos .logo{
        margin-bottom: 15px;
    }

    /* Footer Section */

    .footer{
        width: 100%;
        margin: 5px;
        padding: 0;
    }


}